body {
    background-color: #181823;
    color: #E9F8F9;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 50px;
}

input {
    width: 70%;
    margin: 20px 0px;
    padding: 10px 20px;
    border: 2px solid #C0EEF2;
    border-radius: 5px;
    background-color: #181823;
    color: #C0EEF2;
    outline: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#add-btn {
    padding: 10px 15px;
    border: 2px solid #C0EEF2;
    border-radius: 5px;
    background-color: #181823;
    color: #E9F8F9;
    font-family: 'Poppins', sans-serif;
}

#add-btn:active {
    background-color: #537FE7;
    color: #C0EEF2;
}

#input-box {
    margin: 0px auto;
}

.border-task {
    display: flex;
    margin: 10px auto;
    width: 70%;
    list-style-type: none;
    border: 2px solid #C0EEF2;
    background: #181823;
    border-radius: 5px;
    padding: 0px 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

#input-box {
    margin-bottom: 30px;
}

.right {
    width: 20px;
    height: 20px;
}

.left {
    width: 75%;
    text-align: start;
}